 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <!-- <hr class="star-light"> -->
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>TomorrowApps is a startup based in Cebu, Philippines. Developers and Engineers at TA work remotely across the Philippines.</p>
                    <p>TomorrowApps builds web applications, websites, bots, e-commerce sites and platforms. We also provide third-party integrations for clients who already have websites of their own.</p>
                </div>
                <div class="col-lg-4">
                    <p>TomorrowApps uses open-source technologies and because of that, we also make some of our tools and projects open-source.</p>
                    <p>We currently use Javascript as our primary language of choice. We love JS but if a certain project is more compatible with another tech or language, we are going to use that tech or language instead.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <br>
                    <br>
                    <blockquote>
                      <p>At TomorrowApps, we believe that technology is a tool and using the right tool makes the job easier and the product more successful.</p>
                    </blockquote>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <br>
                    <br>
                    <blockquote>
                      <p>We also believe that working remotely is best for developers because by working remotely, we will be able to spend more time with our families and less time consumed in commute. This makes us, developers, happy and our families happy. :)</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>